@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&family=Open+Sans&family=Poppins:wght@400;600;700;900&family=Raleway:wght@400;500;600&family=Roboto:wght@500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 100%;
    height: 737px;
    background: #1B2473;

}

.form {
    width: 600px;
    height: 412px;
    margin: 0 auto;
    margin-top: 82px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 26px 45px;
}

.form__title {
    font-size: 50px;
    line-height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    color: #787878;
    text-align: center;
    margin: 0px;

}

.form__input {
    margin-top: 36px;
    position: relative;
}

.form__input>input {
    display: block;
    width: 100%;
    border: 2px solid #787878;
    border-radius: 10px;
    font-size: 28px;
    line-height: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    color: #787878;
    padding: 7px 15px 6px;
    outline: none;

}

.form__input>input::placeholder {
    color: #787878;
}

.form__input>label {
    position: absolute;
    top: -20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #787878;
    left: 8px;
}

.form__password {
    margin-top: 32px;
    position: relative;
}

.form__password>input {
    display: block;
    width: 100%;
    border: 2px solid #787878;
    border-radius: 10px;
    font-size: 28px;
    line-height: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    color: #787878;
    padding: 7px 15px 6px;
    outline: none;

}

.form__password>label {
    position: absolute;
    top: -20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #787878;
    left: 8px;
}


.form__checkbox {
    margin-top: 16px;
    position: relative;
}

.form__checkbox>input {
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 2px solid #787878;
    border-radius: 7px;
    color: #787878;
}

.form__checkbox>label {
    position: absolute;
    left: 40px;
    top: 9px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #787878;

}

.form__button {
    min-width: 180px;
    padding: 18px;
    text-align: center;
    background: #1A226B;
    border-radius: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
    outline: none;
    margin: 36px auto;
    display: block;
}

@media screen and (max-width: 768px) {

    body {
        padding: 20px;
        width: 100%;
        height: 737px;
        margin: 0 auto;
        margin-top: 15px;
        background: #1B2473;
        border-radius: 5px;

    }

    .form {
        width: 95%;
        height: 697px;
        background: #FFFFFF;
        box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 20px;

    }

    .form__title {
        font-size: 50px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 50px;

        color: #787878;
        text-align: center;
        margin: 0px;


    }

    .form__input {
        margin-top: 37px;
        position: relative;
    }

    .form__input>input {

        width: 100%;


    }

    .form__input>label {
        position: absolute;
        top: -23px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 16px;
        color: #787878;
        left: 5px;
    }

    .form__password {
        margin-top: 37px;
        position: relative;
    }

    .form__password>input {
        width: 100%;

    }

    .form__password>label {
        position: absolute;
        top: -25px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 16px;
        color: #787878;
        left: 5px;
    }

    .form__checkbox {
        margin-top: 19px;
        position: relative;
    }

    .form__checkbox>input {
        width: 32px;
        height: 32px;
        background: #FFFFFF;
        border: 2px solid #787878;
        border-radius: 7px;
    }

    .form__checkbox>label {
        position: absolute;
        top: 12px;
        left: 45px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 16px;
        color: #787878;

    }

    .form__button {
        min-width: 220px;
        padding: 32px;
        text-align: center;
        background: #1A226B;
        border-radius: 10px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 16px;
        color: #FFFFFF;
        border: none;
        outline: none;
        margin: 36px auto;
        display: block;
    }
}